div.container
    form.form
        label.control-label Description
        input(disabled value=transaction.description).form-control
        label.control-label Amount
        input(disabled value=transaction.amount).form-control
