<div class="container" ng-controller="HomePageController as ctrl">
    <h3 class="text-center">Budget Visualizer</h3>
    <form ng-submit="ctrl.submitVisualize()" class="form form-inline">
        <div class="form-group">
            <label class="control-label">View statistics of my transactions over the last </label>
            <input type="number" min="1" step="1" ng-model="ctrl.num" class="form-control" required />
            <select class="form-control" ng-model="ctrl.length" required>
                <option>days</option>
                <option>weeks</option>
                <option>months</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <div id="chart" class="col-md-4" style="max-height: 400px;">

    </div>
</div>