<div class="container-fluid" ng-controller="HomePageController as ctrl">
    <!-- Summary -->
    <div class="col-md-4 text-center">
        <h3>Summary</h3>
        <ul class="col-md-offset-2 col-md-10 text-left">
            <li>Balance: ${{ctrl.balance}}</li>
            <li>Average: ${{ctrl.balance}}</li>
            <li>Max: ${{ctrl.high}}</li>
        </ul>
    </div>
    <!-- Transactions -->
    <div class="col-md-8">
        <h3 class="text-center">Recent Transactions</h3>
        <div class="col-md-12" style="max-height:200px;overflow:auto;">
            <table class="table table-hover">
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
                <tr ng-repeat="row in ctrl.transactions">
                    <td ng-repeat="item in row">
                        {{item}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-12 text-right">
            <a href="/view-transactions">View All Transactions >></a>
        </div>
    </div>
    <!-- Add Transaction -->
    <div class="col-md-6">
        <h3 class="text-center">Add Transaction</h3>
        <add-transaction></add-transaction>
    </div>

</div>